*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
 font-family: monospace;  
 height: 100vh;
}

nav{
  height: 80px;
  width: 100%;
  background: #34495e;
}

label.logo{
  font-size: 35px;
  font-weight: bold;
  color: white;
  padding: 0 100px;
  line-height: 80px;
}

nav ul{
  float: right;
  margin-right: 40px;
}

.a{
  display: none;
}

nav li{
  display: inline-block;
  margin: 0 8px;
  line-height: 80px;
}

nav a{
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  border: 1px solid transparent;
  padding: 7px 10px;
  border-radius: 3px;
}

a.ativar,a:hover{
  border: 1px solid white;
  transition: .5s;
}

nav #icon{
  color: white;
  font-size: 30px;
  line-height: 80px;
  float: right;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

@media (max-width: 1048px) {
    label.logo{
      font-size: 32px;
      padding-left: 60px;
    }
    nav ul{
      margin-right: 20px;
    }
    nav a{
      font-size: 17px;
    }
}

@media (max-width: 909px) {
    nav #icon{
      display: block;
    }
    nav ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2f3640;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav a{
      font-size: 20px;
    }
    a.ativar, a:hover{
      border: none;
      color: #3498db;
    }
    nav ul.show{
      left: 0;
    }

}

section{
  background: url(../imagens/papel_de_parede_aletoria_belo.jpg) no-repeat;
  background-size: cover;
  height: calc(100vh - 80px);
}

.esconda{
  display: none;
}

.container{
 height: 60%;
  width: 100vw;
  display: grid;
  place-items: center;
  position: absolute;
}

a {
  text-decoration:none ;
  color: white;
}

.calculator{
  position: relative;
  height: auto;
  width: auto;
  padding: 20px ;
  border-radius: 10px;
  box-shadow: 0 0 30px #000;
}

.troca-tema{
  position: absolute;
  top: 30px;
  right: 30px;
  color: white;
  cursor: pointer;
  z-index: 1;
}

.troca-tema.ativo{
  color: #333;
}

.troca-tema.ativo::before{
  background-color: #fff;
}

.troca-tema::before{
  content: "";
  height: 30px;
  width: 30px;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  border-radius: 50%;
  background-color: #333;
  z-index: -1;
}

#display{
  margin: 0 10px;
  height: 120px;
  width: auto;
  max-width: 270px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 30px;
  margin-bottom: 20px;
  overflow-x: scroll;
}

#display::-webkit-scrollbar{
  display: block;
  height: 3px;
}

button{
  height: 60px;
  width: 60px;
  border: 0;
  border-radius: 30px;
  margin: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: all 200ms ease;
}

button:hover{
  transform: scale(1.1);
}

button#igual{
  height: 130px;
}

/* TEMA CLARO */

.calculator{
  background-color: #fff;
}

.calculator #display{
  color: #0a1e23;
}

.calculator button#limpa{
  background-color: #ffd5d8;
  color: rgb(226, 72, 72);
}

.calculator button.numero-btn{
  background-color: #c3eaff;
  color: #000;
}

.calculator button.operador-btn{
  background-color: #ffd0fd;
  color: #f967f3;
}

.calculator button.igual-btn{
  background-color: #adf9e7;
  color: #000;
}

/* Modo escuro */

.calculator.dark{
  background-color: #071115;
}

.calculator.dark #display{
  color: #f8fafd;
}

.calculator.dark button#limpa{
  background-color: #2d191e;
  color: #bd3740;
}

.calculator.dark button.numero-btn{
  background-color: #1b2f38;
  color: #f8fafb;
}

.calculator.dark button.operador-btn{
  background-color: #2e1f38;
  color: #f8fafb;
}

.calculator.dark button.igual-btn{
  background-color: #223323;
  color: white;
}

